<p style="color: green"><%= notice %></p>
<div data-controller="context-menu" class="container mt-5">
    <h1>Todos</h1>
  <table id="todo-table" data-action="contextmenu->context-menu#open" class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @todos.each do |todo| %>
      <tr data-todo-id="<%= todo.id %>">
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td><%= todo.done %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= render "todos/context_menu" %>
</div>